@{
    ViewData["Title"] = "Home Page";
}




<div class="container">

    <h1>Offense Tracker</h1>
    <form action="/offenses/offenseTracker" method="post">
    <div class="form-group">
        <label for="politician">Select the politician</label>
            <select class="form-control form-control-sm" name="politicianSelect">
            @foreach (var politician in Model)
            {
               <option value="@politician.id">@politician.firstName @politician.lastName</option> 
            }
            </select>
    </div>
    <div class="form-group">
        <label for="politician">Select the politician</label>
            <select class="form-control form-control-sm" name="typeId">
               <option value="1">Sexism</option>
               <option value="2">Racism</option>
               <option value="3">Misogyny</option>
               <option value="4">Homophobia</option>
            </select>
    </div>
    <button type="submit">Search</button>
 </form>   
</div>
