@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@Model[0].firstName @Model[0].lastName 
<br>
@foreach (var offense in Model[1])
{
<p>@offense.description</p>
}